# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environment
.env
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Pytest
.cache
.pytest_cache/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db

# Coverage
htmlcov/
.coverage
coverage.xml

# Migrations (opcional, si quieres versionarlas normalmente se incluyen)
*/migrations/*.pyc
*/migrations/*.py[cod]
*/migrations/__pycache__/

# Celery
celerybeat-schedule
